@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar {
  @apply overflow-y-auto;

  &::-webkit-scrollbar {
    width: 4px;
    background: transparent; /* make scrollbar transparent */
  }
  &::-webkit-scrollbar-thumb {
    background: #888;
  }
}

.custom-thicker-scrollbar {
  @apply overflow-y-auto;

  &::-webkit-scrollbar {
    width: 7px;
    background: transparent; /* make scrollbar transparent */
  }
  &::-webkit-scrollbar-thumb {
    background: #888;
  }
}
